body {
    background-color:whitesmoke;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1{
    width: 10%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Sacramento', cursive;
}
h3{
    font-family: 'Sacramento', cursive;
}
.main{
    position: absolute;
    top: 30px;
    left: 45%;
}
.main2{
    position: absolute;
    top: 90px;
    left: 47.7%;
    color: maroon;
}
/*
.top-cloud{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 110px;
    left: 300px;
}

*/
.cricket{
    height: 100%;
    width:100%;
    
}

.web {
    text-decoration:underline;
}


.topContainer {
    background-color:black;
    position: relative;

    
} 
  
.middle-container {
    position: relative;
}


.profile{
    position: relative;
    background-color: black;
}

.profile-image{
    height: 520px;
    width: 100%;
    

}
.my-image{
    position: absolute;
    top: 50px;
    left: 40%;
    border: 1px;
    border-radius: 10px;
    border-color: beige;
}
.my-intro{
    position: absolute;
    top: 275px;
    left:45.5%;
    color:rgb(156, 23, 209);
    font-size: 50px;
}
.my-intro2{
    position: absolute;
    top: 400px;
    left:43%;
    color:black;
    
    
} 
.my-intro3{
    position: absolute;
    top: 430px;
    left:31%; 
    color:black;
}

.skills{
    position: relative;
    background-color: black;
}

.skill-image{
    height:520px ;
    width: 100%;
}

.my-skills{
    position: absolute;
    top: 20px;
    left: 40%;
    font-size: 70px;
}
.cricketer{
    position: absolute;
    top: 170px;
    left: 46%;
    font-size: 40px;
}

.details{
    position: absolute;
    top:270px ;
    left:19%;
    font-size: 25px;
    color: rgb(0, 11, 12);

}

.bottom-container {
    position: relative;
}

.contact-img{
    height: 550px;
    width: 100%;
}
.btn{
    position: absolute;
    font-size: 50px;
    top: 30px;
    left: 40%;
    color:khaki;
}
.contact-me{
    position: absolute;
    font-size: 35px;
    top: 140px;
    left: 42.5%;
    font-family: 'Moon Dance', cursive;
}

.whatsapp{
    height: 80px;
    width: 200px;
    position: absolute;
    bottom: 35px;
    left: 20%;
    background-color: aliceblue;
}

.instagram{
    height: 80px;
    width: 200px;
    position: absolute;
    bottom: 35px;
    left: 42.5%;
    background-color: aliceblue
}

.twitter{
    height: 80px;
    width: 200px;
    position: absolute;
    bottom: 35px;
    right: 20%;
    background-color: aliceblue
}
.end{
    position:absolute;
    top: 505px;
    left: 45%;
}

a:link {
    color:thistle;
  }
  
  /* visited link */
  a:visited {
    color:rgb(98, 150, 209);
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }

p{
    font-family: 'Pacifico', cursive;
}